server:
  port: 80

spring:
    datasource:
      url: jdbc:mysql://localhost:3306/wsx
      username: root
      password: wangsixian
      driver-class-name: com.mysql.jdbc.Driver

    jpa:
      database: mysql
      show-sql: true
      hibernate:
        ddl-auto: none
        naming:
          strategy: org.hibernate.cfg.DefaultComponentSafeNamingStrategy
      properties:
         hibernate:
            dialect: org.hibernate.dialect.MySQL5Dialect
    mvc:
      static-path-pattern: /static/**
    freemarker:
      template-loader-path: classpath:/templates/
      cache: false
      settings:
        template_update_delay: 0
